## Testing our first Python Program

In [1]:
print("Hello World")

Hello World

## Sum between two Numbers

In [2]:
print(4+5)

9

## Identation in Python

In [4]:
# These identation in Python needs to be get done perfectly well
# other wise your code could made errors in it.

age = 20
if(age<19):
    print("You are Allowed")
else:
    print("You are not Allowed")

You are not Allowed

## Module and Import Statments

In [6]:
#!pip install pandas
#!pip install numpy 

# Above mentioned '!pip install' or 'pip install' is used to install libraries

In [7]:
import pandas as pd
import math as mt

# Above mentioned program are being used to import or upload the libraries

## Variables in Python

In [12]:
# Thats how you store values strings in Python 

a = '44 + 55 are'
b = 44
c = 55
print(a)
print(b+c)

44 + 55 are
99

In [14]:
e = 15
print(type(e))
print(2+e)

<class 'int'>
17

## Type Casting

In [18]:
e = "23"
c = int(e)
print(type(c))
print(2+c)

<class 'int'>
25

## Strings

In [20]:
name = 'Sameer'
print(name)

nam = '''
Sameer is a good boy!
'''
print(nam)

Sameer

Sameer is a good boy!

In [30]:
# SLicing
name[:3]

'Sam'

In [34]:
name[3:]

'eer'

In [40]:
name[2:]

'meer'

In [44]:
var = name.lower()
var

'sameer'

In [45]:
var = name.upper()
var

'SAMEER'

In [46]:
var = name.replace("r", "t")

In [47]:
var

'Sameet'

## Operators

In [48]:
'''
+
-
*
/
//
**

'''

a = 11
b = 44
c = 45
d = 545

In [49]:
print(a+b)

55

In [50]:
print(c-d)

-500

In [51]:
print(a/d)

0.02018348623853211

In [52]:
print(a*b)

484

In [53]:
print(a**2)

121

In [54]:
print(d//a)

49

## List and Slicing

In [56]:
lst = [1,2,3,4,5,6]
lst

[1, 2, 3, 4, 5, 6]

In [57]:
lst[1]

2

In [60]:
lst[5:]

[6]

In [61]:
lst[1:5]

[2, 3, 4, 5]

In [62]:
type(lst)

list

In [63]:
# Changing the item
lst[3] = 3.0

In [64]:
lst

[1, 2, 3, 3.0, 5, 6]

## Tuple

In [65]:
tuple = (1,2,3,4,5,6)
tuple

(1, 2, 3, 4, 5, 6)

In [69]:
# tuple(2) == 3.4
# You cannot change the tuple

In [72]:
## Tuple accessing
tuple[1:4]

(2, 3, 4)

## Set

In [73]:
'''
The only diff we have between set and dictionary 
is set can not have repeated values
'''

set = {1,2,2,2,2,4,5,6,7,8}

type(set)

set

In [74]:
print(set)

{1, 2, 4, 5, 6, 7, 8}

## Dictionary

In [78]:
myDict = {
    
    'name':'Sameer',
     'age':12,
     'Marks':24.24   
}

myDict

{'name': 'Sameer', 'age': 12, 'Marks': 24.24}

In [79]:
myDict['name']

'Sameer'

## Python Dict functions

'''

list.append(x)

    Add an item to the end of the list. Equivalent to a[len(a):] = [x].

list.extend(iterable)

    Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

list.insert(i, x)

    Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

list.remove(x)

    Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

list.pop([i])

    Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

list.clear()
    Remove all items from the list. Equivalent to del a[:].
'''

## Conditional Statments

In [87]:
age = int(input("Enter Your age: "))
if(age>18):
    print("You can drive!")
elif(age>=15):
    print("You can drive but Don't forget to use Seat belt xD")
else:
    print('You cannot drive!')

Enter Your age: 12
You cannot drive!

## Loops

In [90]:
# Print Numbers between 1 to 100 with using for or while loop

for i in range(0,100):
    print(i+1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [91]:
li = [123,444,567]
for item in li:
    print(item)

123
444
567

In [92]:
for item in myDict:
    print(item)

name
age
Marks

In [95]:
## While Loop
i = 0
while(i<100):
    print(i+1)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [97]:
## While Loop
i = 0
while(i<100):
    print(i)
    if i == 80:
        break
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80

In [98]:
## While Loop
i = 0
while(i<100):
    i = i + 1
    if i == 80:
        continue
    print(i+1)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101

## Functions

In [102]:
def greeting():
    print("Hello Sir!")

In [104]:
greeting()

Hello Sir!

In [113]:
def sum(a,b):
    c = a + b
    return c

In [114]:
sum(12,33)

45

## Project 
### Create a basic Python program to solve a mathematical problem.

In [122]:
def sum(a,b):
    c = a + b
    d = a - b
    e = a/b
    f = a * b
    return c, d, e, f

In [123]:
a = int(input("Enter Your 1st Number:"))

Enter Your 1st Number:22

In [124]:
b = int(input("Enter Your 2nd Number:"))

Enter Your 2nd Number:32

In [125]:
sum(a,b)

(54, -10, 0.6875, 704)