In [1]:
import pandas as pd

df = pd.read_csv("D://Universities Lectures//Ned University of ENG. AND TECH//Machine Learning//Updated(carevaluation)//car_evaluation.csv")

In [2]:
# Giving Columns Name
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']
df.columns = col_names
col_names

['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [3]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [4]:
#Checking the Dtype and Null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [5]:
# Checking Shape
df.shape

(1727, 7)

In [6]:
# check percentage of missing
df.isnull().mean()

buying      0.0
maint       0.0
doors       0.0
persons     0.0
lug_boot    0.0
safety      0.0
class       0.0
dtype: float64

In [7]:
from sklearn.preprocessing import LabelEncoder
# Define the columns to encode
cols_to_encode = ["buying", "maint", "lug_boot", "safety","class","doors","persons"]

# Encode categorical columns
le = LabelEncoder()
for col in cols_to_encode:
    df[col] = le.fit_transform(df[col])

In [8]:
df.head(566)

     buying  maint  doors  persons  lug_boot  safety  class
0         3      3      0        0         2       2      2
1         3      3      0        0         2       0      2
2         3      3      0        0         1       1      2
3         3      3      0        0         1       2      2
4         3      3      0        0         1       0      2
..      ...    ...    ...      ...       ...     ...    ...
561       0      0      0        2         1       2      2
562       0      0      0        2         1       0      0
563       0      0      0        2         0       1      2
564       0      0      0        2         0       2      0
565       0      0      0        2         0       0      0

[566 rows x 7 columns]

In [9]:
df.tail(150)

      buying  maint  doors  persons  lug_boot  safety  class
1577       1      2      2        1         1       1      2
1578       1      2      2        1         1       2      1
1579       1      2      2        1         1       0      3
1580       1      2      2        1         0       1      2
1581       1      2      2        1         0       2      1
...      ...    ...    ...      ...       ...     ...    ...
1722       1      1      3        2         1       2      1
1723       1      1      3        2         1       0      3
1724       1      1      3        2         0       1      2
1725       1      1      3        2         0       2      1
1726       1      1      3        2         0       0      3

[150 rows x 7 columns]

In [11]:
import streamlit as st

scatterplot = st.line_chart(df)

2023-05-08 20:17:27.869
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run D:\Anaconda\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [13]:
X = df.drop("class", axis=1)
y = df["class"]

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

### Below mentioned features are encode by LabelEncoder
** Persons 0 means 2 persons

** Persons 2 means 1 persons

** Persons 4 means 2 persons

** Doors 0 means 2 Doors

** Doors 2 means 3 Doors

** Doors 3 means 4 Doors

In [16]:
# Define the feature names and their encoded values
feature_names = ["buying", "maint", "doors", "persons", "lug_boot", "safety"]
encoded_values = {"buying": [3, 1, 0], "maint": [3, 0, 1], "doors": [0, 2, 3], "persons": [0, 1, 2], "lug_boot": [2, 1, 0], "safety": [2, 0, 1]}

## Taking Input for Prediction in Streamlit

In [17]:
# Define the user input section
st.header("Car Evaluation Prediction")
st.write("Enter the car features below:")
user_input = {}
for feature in feature_names:
    user_input[feature] = st.selectbox(feature, encoded_values[feature])

In [18]:
# Make the prediction
prediction = model.predict(pd.DataFrame(user_input, index=[0]))
st.write("Predicted class:", prediction[0])

## Streamlit Visualizations

In [19]:
import seaborn as sns
import matplotlib.pyplot as plt

In [20]:
# Sidebar for selecting the chart type
chart_type = st.sidebar.selectbox("Select chart type", ["Count Plot", "Pie Chart", "Box Plot", "Violin Plot", "Heatmap"])

# Count plot
if chart_type == "Count Plot":
    column = st.selectbox("Select column", df.columns)
    sns.countplot(x=column, data=df)
    st.pyplot()

# Pie chart
elif chart_type == "Pie Chart":
    column = st.selectbox("Select column", df.columns)
    fig1, ax1 = plt.subplots()
    ax1.pie(df[column].value_counts(), labels=df[column].unique(), autopct='%1.1f%%', startangle=90)
    ax1.axis('equal') 
    st.pyplot(fig1)

# Box plot
elif chart_type == "Box Plot":
    column_x = st.selectbox("Select X column", df.columns)
    column_y = st.selectbox("Select Y column", df.columns)
    sns.boxplot(x=column_x, y=column_y, data=df)
    st.pyplot()

# Violin plot
elif chart_type == "Violin Plot":
    column_x = st.selectbox("Select X column", df.columns)
    column_y = st.selectbox("Select Y column", df.columns)
    sns.violinplot(x=column_x, y=column_y, data=df)
    st.pyplot()

# Heatmap
else:
    sns.heatmap(df.corr(), annot=True)
    st.pyplot()